doctype html
html
  head
    link(href='style2.css' rel='stylesheet' type='text/css')
  body
    div.wrap
      div.color1
      div.color2
      p 投稿内容はURLからアクセスすることができます

    form
      textarea
      input.p(type='button' value='+')
      input.pp(type='button' value='コメント')
