body {
    padding: 70px;
}
textarea {
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 294px;
    height: 100px;
    margin: 0 0 5px 0;
    padding: 4px;
    font-size: 16px;
    color: #888;
}

input[type='button'] {
    font-size: 16px;
    border-radius: 5px;
    height: 28px;
    margin-right: 5px;
    border: 1px solid transparent;
    color: #f9f9f9;
}

.p {
    font-weight: bold;
    width: 30px;
    background: #6D96FF;
}
.pp {
    width: 270px;
    background: #6DB6FF;
}
